
@if (Tree != null)
{
    <div class="branch">
        <p>@Tree.GetTypeName</p>
        @if (Tree.Children != null)
            @foreach (var item in Tree.Children)
            {
                <RecursiveList Tree="item"></RecursiveList>
            }
    </div>
}

@code {
    [Parameter]
    public Compilers.Ast.Node Tree { get; set; }
}
